# Python
venv/
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/
